<div class="swiper-pagination-arrows">
  <a href="#" class="swiper-pagination-arrows__prev standalone-icon--wrapper">
    {% render 'theme-icon' with icon: 'chevron_left', iconWidth: 24, iconHeight: 24, iconColor: 'currentColor' %}
  </a>

  <div class="swiper-pagination-arrows__pagination"></div>

  <a href="#" class="swiper-pagination-arrows__next standalone-icon--wrapper">
    {% render 'theme-icon' with icon: 'chevron_right', iconWidth: 24, iconHeight: 24, iconColor: 'currentColor' %}
  </a>
</div>