<div class="wrapper-spacing--h wrapper-spacing--v--template">
  <div class="width--content">
    <div class="grid error-page--wrapper">
      <div class="grid__item large--two-thirds push--large--one-sixth">
        <div class="template-title--wrapper">
          <h1 class="page--title template-title">{{ 'general.404.title' | t }}</h1>
          <p class="template-description">{{ 'general.404.subtext_html' | t }}</p>
        </div>
        <a href="{{ routes.all_products_collection_url }}" class="btn">{{ 'general.continue_shopping' | t }}</a>
      </div>
    </div>
  </div>
</div>
